// Login Model
.qr-code-area {
  min-height: 10rem;
  .qr-code {
    img {
      width: 18rem;
    }
  }
}

//Landing Page
.contest-result {
  min-height: 20rem;
}

.navbar-nav .nav-link {
  padding: 1.5rem 0.875rem;
}

.list-group-borderless {
  .list-group-item {
    padding: 0.425rem 0;
    border: none;
    font-size: 0.875rem;
  }
}

.shadow-hover:hover {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1) !important;
}

.u-avatar {
  width: 3.125rem;
  height: 3.125rem;
}

.loading {
  position: absolute;
  background-color: $primary;
  height: 3px;
}
.sort-area {
  .active {
    background: #002e6e;
  }
}
.filter-sort {
  height: 2.5rem;
  cursor: pointer;
}
.contest-photo {
  border: 1px solid #e7eaf3;
  width: 250px;
}

@import "./site.scss";
@import "./fontawesome/scss/fontawesome.scss";
@import "./fontawesome/scss/solid.scss";
@import "./fontawesome/scss/brands.scss";
