//@import "~antd/dist/antd.css";
@import '~bootstrap/scss/bootstrap.scss';
@import "sass/variables.scss";
@import "sass/siteHeaders.scss";
@import "sass/home.scss";
@import "sass/profile.scss";

.site-logo {
  width: 120px;
  height: 31px;
  float: left;
}

.userInfo {
  float: right;
  width: 120px;
  height: 40px;
  line-height: 40px;
  margin: 10px;
  color: #fff;
  font-size: 12px;
  text-align: right;
}

.nav-link {
  display: inline-block;
  margin-left: 6%;
}

.site-footer {
  text-align: center;
}

.main-content{
  min-height: calc(100vh - 100px);
  overflow: auto;
}